body {
  font-family: 'Gloria Hallelujah', cursive;
  color: #c3f53b;
  text-align: center;
  font-size: 4em;
  background-color: #141033;
}

.target {
  border-radius: 50px;
  position: absolute;
  height: 50px;
  width: 50px;
  animation: flash 2s infinite;
}

@keyframes flash {
  100% {
    background-color: transparent;
  }
  0% {
    background-color: #c3f53b;
  }
  0% {
    background-color: #c3f53b;
  }
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 10%;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(11, 7, 31, 0.808);
}

.modal-content {
  border-radius: 25px;
  margin: auto;
  padding: 30px;
  width: fit-content;
  height: fit-content;
  background: linear-gradient(#141033, #3A2696, #6A2F8D, #C222A6);
}

/* close button on modal*/

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #e4f0c4;
  font-size: 100px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover, .close:focus {
  color: #c3f53b;
  text-decoration: none;
  cursor: pointer;
}

/* TODO: add button styling */