body {
  z-index: auto;
}

#gamePiece {
  background-color: black;
  height: 100px;
  width: 100px;
  position: relative;
  z-index: 10;
}

/* https://developer.mozilla.org/en-US/docs/Web/CSS/z-index */

.target {
  background-color: purple;
  height: 50px;
  width: 50px;
  padding-left: 100px;
  position: absolute;
  z-index: -1;
}